<link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div class="container_12">
        <div class="grid_12">
            <div class="socials">
                <a href="https://vk.com/travelservis.kirov" class="fa fa-vk"></a>
                <a href="https://www.facebook.com/groups/544354065726950/" class="fa fa-facebook"></a>
                <a href="http://ok.ru/group/54650095861784" class="fa fa-odnoklassniki"></a>
                <a href="mailto:trewel.servis@yandex.ru" class="fa fa-envelope"></a>
            </div>
            <div class="copy">
                Travel Service (c) 2018
            </div>
            <div class="copy">
                Полезные ссылки:
                <ul style="list-style-type: disc">
                    <li><a href="https://fssprus.ru/iss/ip/">Проверка задолженности туриста</a></li>
                    <li><a href="https://ekaterinburg.ross-tur.ru/pamyatki-po-stranam/">Памятки по странам</a></li>
                    <li><a href="https://kirov.ross-tur.ru/visa/">Все о визах</a></li>
                    <li><a href="https://kirov.ross-tur.ru/hotel/">Каталог отелей</a></li>
                </ul>
            </div>
            <!--   Курсы ЦБ РФ start -->
            <div class="copy">
                <a href="//bankir.ru/" title="Курсы валют на Банкир.Ру"><img border="0"
                                                                             alt="Курсы валют на Банкир.Ру"
                                                                             src="http://bankir.ru/kurs/info/3?bg=0&fg=0&v0=000&v1=840&v2=978"></a>
                <script src="https://informers.forexpf.ru/php/cbrf.php?id=012345678"></script>
            </div>
        </div>
    </div>
</footer>